<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../../static/static2/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../static/static2/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../../static/static2/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../static/static2/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="font-size: 30px">MealXchange</h1>
                <h3 style="font-size: 25px">Simple | Efficient | Secure | Transparent</h3>
                <hr>
                <div style="color: black">
                <p style="font-size: 15px"> <b> At Princeton, the current pen-and-paper system for monitoring meal exchanges between eating clubs is inconvenient for everyone involved. Members don't know how many meal exchanges they have outstanding with their friends and club administrators spend hours manually tabulating meal exchanges at the end of each month. We're proposing a system where instead of using paper slips, students simply register their meal exchanges and guest meals online on our webapp. Students can receive updates on how many meal exchanges they have outstanding as well as how many guest meals they have left in the month. Eating clubs can edit memberships and club preferences, as well as view all exchanges online or by downloading a .csv file with all the computations done for them. Fewer lost slips of paper, fewer outstanding meal exchanges, fewer hours of manual tabulation. Everyone's a winner! </b> </p>
                <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Tutorials</a>
                </div>
            </div>
        </div>
    </header>

    <div style="margin: 10px">
    <br>
    <br>
    <h2 class="section-heading" style="text-align: center">Tutorials</h2>
    <hr class="dark">
    <br>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#meal_exchange" class="portfolio-box">
                        <img src="../../static/img/screenshots/home.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Register a Meal Exchange
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#view_exchanges" class="portfolio-box">
                        <img src="../../static/img/screenshots/view_exchanges.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    View Meal Exchanges
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a href="#club_prefs" class="portfolio-box">
                        <img src="../../static/img/screenshots/club_prefs.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Manage Your Club Preferences
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-4 col-sm-6">
                    <a href="#membership" class="portfolio-box">
                        <img src="../../static/img/screenshots/edit_membership.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Edit Your Membership
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a href="#reminder" class="portfolio-box">
                        <img src="../../static/img/screenshots/reminder_email.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Send Reminder Emails
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a href="#create_account" class="portfolio-box">
                        <img src="../../static/img/screenshots/login.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Create an Account
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
    </div>

    <div style="top-margin: 10px; color: white"> <br> </div>
    
    <div style="top-margin: 10px">
    <section class="bg-primary" id="meal_exchange">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Register a Meal Exchange</h2>
                    <hr class="light">
                    <p class="text-faded">To register a meal exchange login to your club account and select meal exchange from the options provided on the home page. </p>
                    <img src="../../static/img/screenshots/home.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>
                    <p class="text-faded"> This will redirect you to a page that looks like this. Enter the netID of the member under Host netID and the netID of the person they would like to meal exchange with under Guest netID.</p>
                    <img src="../../static/img/screenshots/exchange.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>
                    <p class="text-faded"> If the meal exchange was successful you will be sent to the following thank you page. Both the member and the guest will recieve a confirmation link in an email from princeton.mealxchange@gmail.com. For the meal exchange to be recorded both parties <b> must </b> click through the link to verify the exchange. </p>
                    <img src="../../static/img/screenshots/thanks.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>

                    <h2 class="section-heading">Register a Guest Meal</h2>
                    <hr class="light">
                    <p class="text-faded">To register a guest meal login to your club account and select guest meal from the options provided on the home page. </p>
                    <img src="../../static/img/screenshots/home.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>
                    <p class="text-faded"> This will redirect you to a page that looks like this. Enter the netID of the member under Host netID.</p>
                    <img src="../../static/img/screenshots/guest.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>
                    <p class="text-faded"> If you have sufficient guest meals left you will be sent to the following thank you page. If not you will be sent to an error page. The member will recieve a confirmation link in an email from princeton.mealxchange@gmail.com. For the guest meal to be recorded the host <b> must </b> click through the link to verify the guest meal. </p>
                    <img src="../../static/img/screenshots/thanks.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>

                    <a href="#portfolio" class="btn btn-default btn-xl">Other Tutorials</a>
                </div>
            </div>
        </div>
    </section>
    </div> 

    <div style="top-margin: 10px; color: white"> <br> </div>

    <section class="bg-primary" id="view_exchanges">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">View Completed Exchanges</h2>
                    <hr class="light">
                    <p class="text-faded">To view completed exchanges press the hamburger button on the right hand side and select View Exchanges. </p>
                    <img src="../../static/img/screenshots/menu_view_exchanges.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>
                    <p class="text-faded"> This will take you to a page that looks like this. You can sort the exchanges by clicking on any of the blue table headers. You can also search for all exchanges for a given member by entering their netID in the search field in the upper left corner.</p>
                    <br>
                    <p class="text-faded">To download all exchanges from this month and last month click Download .csv. This will output an excel file with a list of your members and all the completed meal exchanges. </p>
                    <img src="../../static/img/screenshots/view_exchanges.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>

                    <h2 class="section-heading">View Incomplete Exchanges</h2>
                    <hr class="light">
                    <br>
                    <p class="text-faded">To view incomplete exchanges press the hamburger button on the right hand side and select View Exchanges. </p>
                    <img src="../../static/img/screenshots/menu_view_exchanges.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>
                    <p class="text-faded"> This will take you to a page that looks like this. Click on View Unconfirmed exchanges.</p>
                    <br>
                    <img src="../../static/img/screenshots/view_exchanges.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>
                    <p class="text-faded"> You will be redirected to the following page. Just like the View Exchanges page you can sort by any of the table headers and search for a specific member's unconfirmed exchanges using the search field in the upper left corner. You can also download a .csv with the confirmed exchanges and a list of members. To go back to View Exchanges click on the right-most button View Exchanges. </p>

                    <img src="../../static/img/screenshots/view_unconfirmed.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>
                    <a href="#portfolio" class="btn btn-default btn-xl">Other Tutorials</a>
                </div>
            </div>
        </div>
    </section>

    <div style="top-margin: 10px; color: white"> <br> </div>

    <section class="bg-primary" id="club_prefs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Manage Your Club Preferences</h2>
                    <hr class="light">
                    <p class="text-faded">If you have not yet set your club preferences you will automatically be redirected to do so. In club preferences you set your meal hours and the number of guest meals each member can have. This allows us to prevent members from trying to meal exchange outside of meal hours and stop members from using more guests than they are alotted. If you would like to edit your preferences click on the hamburger button and select Club Preferences. </p>
                    <img src="../../static/img/screenshots/menu_club_prefs.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>
                    <p class="text-faded"> This will take you to a page that looks like this. You can reset your preferences whenever you like provided you are logged into your account. Make sure to hit save before leaving this page. </p>
                    
                    <img src="../../static/img/screenshots/club_prefs.png" alt="" class="img-responsive">

                    <hr class="light">
                    <br>
                    <a href="#portfolio" class="btn btn-default btn-xl">Other Tutorials</a>
                </div>
            </div>
        </div>
    </section>

    <div style="top-margin: 10px; color: white"> <br> </div>

    <section class="bg-primary" id="membership">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Edit Your Membership</h2>
                    
                    <hr class="light">
                    <p class="text-faded"> To add or remove members click on the hamburger button and select Edit Membership. </p>
                    <img src="../../static/img/screenshots/menu_edit_membership.png" alt="" class="img-responsive">

                    <hr class="light">
                    <br>
                    <p class="text-faded"> This will take you to a page that looks like this. You can delete members by either individually selecting the checkboxes next to their name and pressing Delete or by searching for a common attribute, i.e. 2016, and pressing Delete All. To add members click Add Members. </p>
                    <img src="../../static/img/screenshots/edit_membership.png" alt="" class="img-responsive">

                    <hr class="light">
                    <br>
                    <p class="text-faded"> To add members click Add Members. This will redirect you to the following page. We allow you to add members by class year. To do this ;ist all the names, first and last , in the top field and the corresponding netIDs in the bottom field. Make sure these are in the same order. Then select their class year and click Submit. </p>
                    <img src="../../static/img/screenshots/add_members.png" alt="" class="img-responsive">

                    <hr class="light">
                    <br>
                    <a href="#portfolio" class="btn btn-default btn-xl">Other Tutorials</a>
                </div>
            </div>
        </div>
    </section>

    <div style="top-margin: 10px; color: white"> <br> </div>

    <section class="bg-primary" id="reminder">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Send Reminder Emails</h2>
                    
                    <hr class="light">
                    <p class="text-faded">To send reminder emails press the hamburger button on the right hand side and select View Exchanges. </p>
                    <img src="../../static/img/screenshots/menu_view_exchanges.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>
                    <p class="text-faded"> This will take you to a page that looks like this. Simply click Send Emails to send reminders to all your members.</p>
                    <img src="../../static/img/screenshots/view_exchanges.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>
                    <p class="text-faded">Each member with outstanding or incomplete exchanges will recieve an email that looks like this. </p>
                    <img src="../../static/img/screenshots/reminder_email.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>

                    <a href="#portfolio" class="btn btn-default btn-xl">Other Tutorials</a>
                </div>
            </div>
        </div>
    </section>

    <div style="top-margin: 10px; color: white"> <br> </div>

    <section class="bg-primary" id="create_account">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Create an Account</h2>
                    
                    <hr class="light">
                    <p class="text-faded">To create an account select Register from the options below the login.</p>
                    <img src="../../static/img/screenshots/login.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>
                    <p class="text-faded"> You will be redirected to the following page. Once you've inputted your details you will recieve a confirmation link in your email which you need to click through. Once you've done this you're good to go! </p>
                    <img src="../../static/img/screenshots/create_account.png" alt="" class="img-responsive">
                    <hr class="light">
                    <br>

                    <a href="#portfolio" class="btn btn-default btn-xl">Other Tutorials</a>
                </div>
            </div>
        </div>
    </section>

    <div style="top-margin: 10px; color: white"> <br> </div>

    <section class="bg-primary" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Testimonials</h2>
                    
                    <hr class="light">
                    <p class="text-faded">"This system has been far overdue. - Lucia Perasso, Terrace President</p>
                    
                    <hr class="light">
                    <br>
                    <p class="text-faded"> "Wow I can't believe this hasn't existed all along. It's a game changer!" - Reed Tan, Terrace Treasurer </p>
                    
                    <hr class="light">
                    <br>
                    <p class="text-faded"> "I'm really excited to see an app like this, the meal exchange system has been unnecessarily inefficient for way too long. As someone who has been fined unfairly in the past, I'm really looking forward to this new system which will undoubtedly save time and money for both students and eating clubs." - Rose Lapp, Tower member </p>
                    
                    <hr class="light">
                    <br>
                    <p class="text-faded"> "Wow I can't believe this hasn't existed all along. It's a game changer!" - Reed Tan, Terrace Treasurer </p>
                    
                    <hr class="light">
                    <br>
                    <p class="text-faded"> This app just makes total sense. The process is currently unnecessarily tedious.. this app will make meal exchange simple, logical and painless - so we can all spend more time with our friends! - Nick Stead, Tower Member </p>
                    <a href="#" class="btn btn-default btn-xl">Top</a>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Get In Touch!</h2>
                    <hr class="primary">
                    <p>Still have questions?</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>703-470-7048</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">mbuono@princeton.edu</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
