<!DOCTYPE html>
{% load i18n %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Princeton MealXchange - Club Preferences</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/clubprefs.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <a id="menu-toggle" href="#" class="btn btn-menu btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            
            <!--
            <li class="sidebar-brand">
                <a href="/Xchange/Home"  onclick = $("#menu-close").click(); >Home </a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            -->

            <li class="sidebar-brand">
                <a href="/Xchange/Home"  onclick = $("#menu-close").click(); >Home </a>
            </li>
            <li>
                <a href="/Xchange/About">About</a>
            </li>
            <li>
                <a href="/Xchange/ClubPrefs">Club Preferences</a>
            </li>
            <li>
                <a href="/Xchange/EditMembership">Edit Membership</a>
            </li>
            <li>
                <a href="/Xchange/ViewExchanges">View Exchanges</a>
            </li>
            <li>
                <a href="{% url 'auth_logout' %}">{% trans "Log Out" %}</a>
            </li>
        </ul>
    </nav>


   <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <br><br>
            <h2 style="margin-left:200px;">Club Preferences</h2>
            <form action="/Xchange/ClubPrefs/" method="post">
                {% csrf_token %}
                <!-- {{ form }} -->
                <br>

                <table align="left" style="margin-left:200px;">
                  <tr>

                    <td align="left">
                        <label for="b_start"> <font color="black"> <font size="4px"> Breakfast Start Time</font> </label><br><br>
                    </td>
                    <td align="left">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ form.b_start }}<br><br>
                    </td>
                  </tr>
                  <tr>
                    <td align="left">
                        <label for="b_end"> <font color="black"> <font size="4px">Breakfast End Time</font> </label><br><br>

                    </td>
                    <td align="left">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ form.b_end }}<br><br>
                    </td>
                  </tr>
                  <tr>
                    <td align="left">
                        <label for="l_start"> <font color="black"> <font size="4px">Lunch Start Time</font> </label><br><br>
                    </td>
                    <td align="left">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ form.l_start }}<br><br>
                    </td>
                  </tr>
                    <tr>
                    <td align="left">
                        <label for="l_end"> <font color="black"> <font size="4px">Lunch End Time</font> </label><br><br>
                    </td>
                    <td align="left">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ form.l_end }}<br><br>
                    </td>
                  </tr>
                  <tr>
                    <td align="left">
                        <label for="d_start"> <font color="black"> <font size="4px">Dinner Start Time</font> </label><br><br>
                    </td>
                    <td align="left">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ form.d_start }}<br><br>
                    </td>
                  </tr>
                  <tr>
                    <td align="left">
                        <label for="d_end"> <font color="black"> <font size="4px">Dinner End Time</font> </label><br><br>
                    </td>
                    <td align="left">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ form.d_end }}<br><br>
                    </td>
                  </tr>
                    <tr>
                    <td align="left">
                        <label for="br_start"> <font color="black"> <font size="4px">Brunch Start Time</font> </label><br><br>
                    </td>
                    <td align="left">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ form.br_start }}<br><br>
                    </td>
                  </tr>
                    <tr>
                    <td align="left">
                        <label for="br_end"> <font color="black"> <font size="4px">Brunch End Time</font> </label><br><br>
                    </td>
                    <td align="left">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ form.br_end }}<br><br>
                    </td>
                  </tr>
                  <tr>
                    <td align="left">
                        <label for="max_guest"> <font color="black"> <font size="4px">Max Number of Guests per Month:</font> </label>
                    </td>
                    <td align="left">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ form.max_guests}}
                    </td>
                  </tr>
                  <tr>
                    <td align="left">
                        <br>
                        <!-- 
                        <form method="link" action="/Xchange/Home/">
                            <input type="submit" value="Go Back">
                        </form>
                        <input type="submit" value="Save"> 
                        -->
                        <a href="../Home/" class="btn btn-dark btn-lg">Back</a>
                        &nbsp;&nbsp;&nbsp;
                        <input type="submit" value="Save" class="btn btn-dark btn-lg">
                    </td>
                    <td align="left">
                    </td>
                  </tr>
                  <br>

                </table>
                <br><br>
                <!-- 
                <a href="../Home" class="btn btn-dark btn-lg">Go Back</a>
                <input type="submit" value="Save" class="btn btn-dark btn-lg"> 
                -->
                <br><br>
            </form>
        </div>
    </header>

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
