<HTML>
<body>
<form action="/Xchange/EditMembership" method="post">
<table>
    {% for member in members %}
        <tr> 
            <td>
                <input type="checkbox" name="member" id={{member.netID}}/> 
            </td>
            <td>
                 <h4> {{member.name}} </h4> 
            </td>
            <td>
                <h4> {{member.netID}} </h4>
            </td>
            <td>
                <h4> {{member.year}} </h4>
            </td>
        </tr>
    {% endfor %}
</table>
<input type="submit" value="Submit" />
</form>
</body>
</HTML>

