<HTML>
<body>
<form action="/Xchange/ViewExchanges/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
<table>
	<tr>
		<th> Host </th>
		<th> Guest </th>
		<th> Guest club </th>
		<th> Breakfast </th>
		<th> Lunch </th>
		<th> Dinner </th>
		<th> Month </th>
	</tr>
	{% if exchanges %}
	{% for exchange in exchanges %}
	<tr>
		<td> {{ exchange.hostName}} </td>
		<td> {{exchange.guestName}} </td>
		<td> {{exchange.guestClub}} </td>
		<td> {{exchange.breakfast}} </td>
		<td> {{exchange.lunch}} </td>
		<td> {{exchange.dinner}} </td>
		<td> {{exchange.month.month}} </td>
	</tr>
	{% endfor %}
	{% else %}
    <p>No exchanges available.</p>
	{% endif %}
</body>
</HTML>
