<!DOCTYPE html>
{% load i18n %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Princeton MealXchange - View Unconfirmed Exchanges</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/ViewMembership.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color: orange">

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            
            <!--
            <li class="sidebar-brand">
                <a href="/Xchange/Home"  onclick = $("#menu-close").click(); >Home </a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            -->

            <li class="sidebar-brand">
                <a href="/Xchange/Home"  onclick = $("#menu-close").click(); >Home </a>
            </li>
            <li>
                <a href="/Xchange/About">About</a>
            </li>
            <li>
                <a href="/Xchange/ClubPrefs">Club Preferences</a>
            </li>
            <li>
                <a href="/Xchange/EditMembership">Edit Membership</a>
            </li>
            <li>
                <a href="/Xchange/ViewExchanges">View Exchanges</a>
            </li>
            <li>
                <a href="{% url 'auth_logout' %}">{% trans "Log Out" %}</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div style="margin:15px">
            <form action="/Xchange/ViewUnconfirmedExchanges/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Search" name="search"/>
            <!-- <input type="submit" value="Add" /> -->
            </form>
        </div>
        <br></br>
        <div style="text-align: center; text-color: black; margin:15px">
        <form action="/Xchange/ViewUnconfirmedExchanges/" method="post">

        {% load render_table from django_tables2 %}
        {% render_table table %}
        {% csrf_token %}

        <!-- <input type="submit" value="Add" /> -->
        </form>
    
    <br></br>

   <div style="text-align: center">  <a href="../Download" class="btn btn-lighter btn-s" style="align: center; width: 20%; position: fixed; right: 70%">Download .csv</a> </div>
    <div style="text-align: center">  <a href="../SendEmails" class="btn btn-lighter btn-s" style="align: center; width: 20%; position: fixed; right: 40%">Send Emails</a> </div>
    <div style="text-align: center">  <a href="../ViewExchanges" class="btn btn-lighter btn-s" style="align: center; width: 20%; position: fixed; right: 10%">View Exchanges</a> </div>

    </header>

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
