{% extends "login2.html" %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p}}
  <br>

  <input type="submit" style="color: #ff8000" value="{% trans 'Log in' %}" />
  <br>
  <input type="hidden" name="next" value="{{ next }}" />
  <br>
</form>

<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}" style="color: #fff; text-decoration: underline">{% trans "Reset it" %}</a>!</p>

<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}" style="color: #fff; text-decoration: underline">{% trans "Register" %}</a>!</p>

<p>{% trans "Want to Learn More" %}? <a href="../../Xchange/About" style="color: #fff; text-decoration: underline">{% trans "Click Here" %}</a>!</p>

{% endblock %}

